/* Place your CSS styles in this file */
body{background-color: rgba(255, 109, 182, 0.663);}
h1 {
    text-align: center;
    font-family: cursive;
    font-weight: normal;
    font-size: 40px;
    color: rgb(245, 218, 234);
    letter-spacing: 2px;
}

ul {list-style-type: none; 
font-family: sans-serif;
color: rgb(80, 34, 75);
text-align:left;
background-color: rgba(100, 80, 120, 0.266);}


li {display: inline-block;
padding: 12px;
margin: 10px;}

p { color: rgb(49, 19, 80);
text-align: left;
font-size: 22px;
font-family: 'Franklin Gothic Medium';
line-height: 1.8 ;
margin-bottom: 30px;
padding-left: 20px;
font-weight: bold;

