/* Place your CSS styles in this file */
body{background-color: rgba(14, 36, 101, 0.816);}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 60px;
    color: rgb(245, 218, 234);
    letter-spacing: 2px;
}

ul {list-style-type: none; 
font-family: 'Times New Roman', Times, serif;
color: rgb(255, 151, 217);
text-align:left;
background-color: rgba(206, 157, 255, 0.446);
font-weight: bold;}


li {display: inline-block;
padding: 12px;
margin: 10px;}

p { color: rgb(255, 198, 242);
text-align: left;
font-size: 22px;
font-family: 'Times New Roman', Times, serif;
line-height: 1.8 ;
margin-bottom: 30px;
padding-left: 20px;


